<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueqiao.blog.mapper.UserMapper">

    <select id="selectRoleListByUserId" resultType="java.lang.String">
        SELECT sr.role_key
        FROM `sys_user` su
                 LEFT JOIN `sys_user_role` sur ON su.id = sur.user_id
                 LEFT JOIN `sys_role` sr ON sur.role_id = sr.id

    </select>

</mapper>