<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueqiao.yueblog.mapper.AboutMapper">

    <resultMap id="BaseResultMap" type="top.yueqiao.yueblog.domain.entity.About">
            <id property="aboutId" column="about_id" jdbcType="INTEGER"/>
            <result property="aboutTitle" column="about_title" jdbcType="VARCHAR"/>
            <result property="musicId" column="music_id" jdbcType="VARCHAR"/>
            <result property="aboutContent" column="about_content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        about_id,about_title,music_id,
        about_content
    </sql>
</mapper>
