<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueqiao.yueblog.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="top.yueqiao.yueblog.domain.entity.Category">
            <id property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="categoryIntroduction" column="category_introduction" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BlogInfoVo" type="top.yueqiao.yueblog.domain.vo.BlogInfoVo">
        <id property="blogId" column="blog_id" jdbcType="BIGINT"/>
        <result property="blogTitle" column="blog_title" jdbcType="VARCHAR"/>
        <result property="blogIntroduction" column="blog_introduction" jdbcType="VARCHAR"/>
        <result property="recommendIndex" column="recommend_index" jdbcType="BIGINT"/>
        <result property="blogWords" column="blog_words" jdbcType="BIGINT"/>
        <result property="readTime" column="read_time" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <association property="category" javaType="top.yueqiao.yueblog.domain.vo.BlogCategoryVo">
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        </association>
        <collection property="tags" javaType="top.yueqiao.yueblog.domain.vo.BlogTagVo">
            <result property="tagName" column="tag_name"/>
            <result property="tagColor" column="tag_color"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,category_name,category_introduction,
        create_by,create_time,update_by,
        update_time
    </sql>



</mapper>
