<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueqiao.yueblog.mapper.SiteSettingMapper">

    <resultMap id="BaseResultMap" type="top.yueqiao.yueblog.domain.entity.SiteSetting">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="settingKey" column="setting_key" jdbcType="VARCHAR"/>
            <result property="settingIntroduction" column="setting_introduction" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,setting_key,setting_introduction,
        value,type
    </sql>
</mapper>
