<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueqiao.yueblog.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="top.yueqiao.yueblog.domain.entity.Tag">
            <id property="tagId" column="tag_id" jdbcType="INTEGER"/>
            <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
            <result property="tagIntroduction" column="tag_introduction" jdbcType="VARCHAR"/>
            <result property="tagColor" column="tag_color" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BlogInfoVo" type="top.yueqiao.yueblog.domain.vo.BlogInfoVo">
        <id property="blogId" column="blog_id" jdbcType="BIGINT"/>
        <result property="blogTitle" column="blog_title" jdbcType="VARCHAR"/>
        <result property="blogIntroduction" column="blog_introduction" jdbcType="VARCHAR"/>
        <result property="recommendIndex" column="recommend_index" jdbcType="BIGINT"/>
        <result property="blogWords" column="blog_words" jdbcType="BIGINT"/>
        <result property="readTime" column="read_time" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <association property="category" javaType="top.yueqiao.yueblog.domain.vo.BlogCategoryVo">
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        </association>
        <collection property="tags" javaType="top.yueqiao.yueblog.domain.vo.BlogTagVo">
            <result property="tagName" column="tag_name"/>
            <result property="tagColor" column="tag_color"/>
        </collection>
    </resultMap>

    <select id="selectBlogInfoVoPageByTagName" resultMap="BlogInfoVo">
        SELECT b.blog_id, b.blog_title, b.blog_introduction, b.recommend_index,
               b.blog_words, b.read_time, b.create_time,
               c.category_name, t.tag_name, t.tag_color
        FROM yue_blog.blog b
                 LEFT JOIN yue_blog.blog_category bc ON b.blog_id = bc.blog_id
                 LEFT JOIN yue_blog.category c ON bc.category_id = c.category_id
                 LEFT JOIN yue_blog.blog_tag bt ON b.blog_id = bt.blog_id
                 LEFT JOIN yue_blog.tag t ON bt.tag_id = t.tag_id
        WHERE t.tag_name = #{tagName}
    </select>

</mapper>
